@media (max-width: 375px) {
  html {
    font-size: 5px;
  }

  .logo {
    height: 3rem;
    margin: 9rem 0 2rem 0;
  }

  .title {
    margin-bottom: 3rem;
    font-size: 4.5rem;
  }

  .subtitle {
    font-size: 2.5rem;
    margin-bottom: 6rem;
  }

  .notify-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 12rem;
    gap: 1rem;
  }

  .input {
    font-size: 2.3rem;
    width: 55rem;
    height: 7rem;
    padding-left: 5rem;
  }

  .error {
    content: "";
    text-align: center;
    width: 55rem;
    font-size: 1.9rem;
    position: static;
  }

  .btn {
    font-size: 2.3rem;
    width: 55rem;
    height: 7rem;
  }

  .table-img {
    margin: 2rem 0 15rem 0;
  }

  .social-links {
    column-gap: 3rem;
  }

  .copyright {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  ion-icon {
    font-size: 3rem;
  }
}

/* HELPER CLASSES */

.error-mobile {
  position: static;
}

.mb {
  margin-bottom: 2rem;
}

.mt {
  margin-bottom: -4.2rem;
  transition: none;
}
